@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchTerm {
  width: 100%;
  border: 3px solid #2c2a2a;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #a9b3ae;
}

.searchTerm:focus{
  color: #2c2a2a;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #2c2a2a;
  background: #2c2a2a;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  justify-content: center;
}

.wrap{
  width: 90%;
}